.ionide/
.vs/
.paket/
.vscode/

kubernetes/
libs/
packages/
packaging/
paket-files/
services/
tests/
tools/
tutorial/
workers/
.dockerignore
.gitignore
appveyor.yml
build.fsx
build.fsx.lock
buildfsx.lock
functions.sh
hobbes.sln
installatin.md
paket.exe
README.md
bin/
obj/